* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Jost", sans-serif;
}
.button {
  background: #6f73ee;
  border-radius: 5px;
  border: 2px solid #6f73ee;
}
.button-light {
  border-radius: 5px;
  border: 1.3px solid var(--white, #fff);
  background: #fff;
  color: var(--purple, #6f73ee);
}
.navbar {
  height: 39px;
  padding: 11px 0;
  margin-bottom: 30px;
}
.navbar-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container {
  max-width: 1150px;
  margin: auto;
}
.navbar-menu-list {
  display: flex;
  gap: 30px;
  padding: 0;
  margin: 0;
}
.navbar-menu-item {
  list-style: none;
}
.nav-menu-item-link {
  text-decoration: none;
  color: var(--gray-600, #5d6c7b);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.nav-menu-social-vb {
  text-decoration: none;
}
.nav-menu-social-ws {
  text-decoration: none;
}
.navbar-networks-link {
  display: flex;
  gap: 8.5px;
}
.header-phone-link {
  text-decoration: none;
  color: var(--black, #282739);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.seporator {
  background: #f4f7fb;
  border: none;
  height: 1px;
}
.navbar-bottom-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 40px;
}
.logo-block {
  width: 116px;
  margin-right: 35px;
}
.logo {
  margin-bottom: 0;
  margin-top: 0;
}
.search-txt {
  width: 603px;
  height: 40px;
  padding: 10px 0 10px 20px;
  border-radius: 5px 0 0 5px;
  border: 2px solid #6f73ee;
  color: var(--gray-600, #5d6c7b);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  outline: none;
}
.search-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0px 5px 5px 0px;
  border: 2px solid #6f73ee;
  background: #6f73ee;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}
.search-box {
  display: flex;
  align-items: center;
  margin-right: 47px;
}
.catalog-button {
  width: 114px;
  height: 40px;
  color: var(--white, #fff);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  align-items: center;
  padding: 15px 18px 15px 15px;
  margin-right: 20px;
}
.line-block {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-right: 13px;
}
.line-catalog-button {
  height: 1.3px;
  background: var(--white, #fff);
}
.line-catalog-button-first,
.line-catalog-button-second {
  width: 13px;
}
.line-catalog-button-third {
  width: 7px;
}
.favorites {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 25px;
}
.favorites-icon-block {
  display: flex;
  align-items: center;
  gap: 25px;
}
.shopping-cart-block {
  display: flex;
  align-items: center;
  gap: 10px;
}
.shopping-cart-title {
  color: var(--black, #282739);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.button-catalog-block {
  display: flex;
}
.header-img {
  background-image: url("/img/header-img.png");
  margin: auto;
  background-size: 100% 445px;
  background-position: center right;
  height: 27.8125rem;
  background-repeat: no-repeat;
  position: relative;
  object-fit: cover;
  border-radius: 10px;
  width: 97%;
}
.header-img::before {
  content: "";
  left: 0;
  position: absolute;
  background: linear-gradient(90deg, #6f73ee 27%, rgba(111, 115, 238, 0) 70%);
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.header-content-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 56px;
}
.contacts-header {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header-adress-block {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 8px;
}
.header-adress-link {
  color: var(--white, #fff);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
}
.schedule {
  color: var(--white, #fff);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.header-content {
  position: relative;
  width: 55%;
  height: 100%;
}
.header-content-title {
  color: var(--white, #fff);
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 0.4375rem;
}
.header-content-text {
  color: var(--white, #fff);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 0;
  margin-bottom: 1.875rem;
}
.header-features {
  display: flex;
  align-items: center;
  gap: 35px;
  margin-bottom: 2.5rem;
}
.header-features-item {
  display: flex;
  align-items: center;
  gap: 15px;
}
.shell-features-icon {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  position: relative;
}
.shell-features-icon::before {
  content: "";
  opacity: 0.2;
  background: var(--white, #fff);
  position: absolute;
  border-radius: 5px;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.header-features-text {
  color: var(--white, #fff);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.125rem;
  width: 9.3125rem;
  margin: 0;
}
.button-header-content {
  width: 9.9375rem;
  height: 3.3125rem;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 3.5rem;
}
