* {
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Jost", sans-serif;
}
.button {
  background: #6f73ee;
  border-radius: 0.3125rem;
  border: 0.125rem solid #6f73ee;
}
.button-light {
  border-radius: 0.3125rem;
  border: 0.0813rem solid var(--white, #fff);
  background: #fff;
  color: var(--purple, #6f73ee);
}
.navbar {
  height: 39px;
  padding: 0.6875rem 0;
  margin-bottom: 1.875rem;
}
.navbar-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container {
  max-width: 71.875rem;
  margin: auto;
}
.navbar-menu-list {
  display: flex;
  gap: 1.875rem;
  padding: 0;
  margin: 0;
}
.navbar-menu-item {
  list-style: none;
}
.nav-menu-item-link {
  text-decoration: none;
  color: var(--gray-600, #5d6c7b);
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.nav-menu-social-vb {
  text-decoration: none;
}
.nav-menu-social-ws {
  text-decoration: none;
}
.navbar-networks-link {
  display: flex;
  gap: 0.5313rem;
}
.header-phone-link {
  text-decoration: none;
  color: var(--black, #282739);
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.seporator {
  background: #f4f7fb;
  border: none;
  height: 0.0625rem;
}
.navbar-bottom-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 2.5rem;
}
.logo-block {
  width: 7.25rem;
  margin-right: 2.1875rem;
}
.logo {
  margin-bottom: 0;
  margin-top: 0;
}
.search-txt {
  height: 2.5rem;
  padding: 0.625rem 0 0.625rem 1.25rem;
  border-radius: 5px 0 0 5px;
  border: 0.125rem solid #6f73ee;
  color: var(--gray-600, #5d6c7b);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  outline: none;
  display: flex;
  flex-grow: 1;
}
.search-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 0.3125rem 0.3125rem 0;
  border: 0.125rem solid #6f73ee;
  background: #6f73ee;
  width: 2.5rem;
  height: 2.5rem;
  flex-shrink: 0;
}
.search-box {
  display: flex;
  align-items: center;
  margin-right: 2.9375rem;
  flex-grow: 1;
}
.catalog-button {
  width: 7.125rem;
  height: 2.5rem;
  color: var(--white, #fff);
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  align-items: center;
  padding: 0.9375rem 1.125rem 0.9375rem 0.9375rem;
  margin-right: 1.25rem;
}
.line-block {
  display: flex;
  flex-direction: column;
  gap: 0.3125rem;
  margin-right: 0.8125rem;
}
.line-catalog-button {
  height: 0.0813rem;
  background: var(--white, #fff);
}
.line-catalog-button-first,
.line-catalog-button-second {
  width: 0.8125rem;
}
.line-catalog-button-third {
  width: 7px;
}
.favorites {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 1.5625rem;
}
.favorites-icon-block {
  display: flex;
  align-items: center;
  gap: 1.5625rem;
}
.scales-icon {
  height: 1.25rem;
  width: 1.25rem;
}
.shopping-cart-block {
  display: flex;
  align-items: center;
  gap: 10px;
}
.shopping-cart-title {
  color: var(--black, #282739);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.button-catalog-block {
  display: flex;
}
.header-img {
  background-image: url("/img/header-img.png");
  margin: auto;
  background-size: cover;
  background-position: bottom right;
  height: 27.8125rem;
  background-repeat: no-repeat;
  position: relative;
  object-fit: cover;
  border-radius: 10px;
  width: 97%;
  margin-bottom: 6.25rem;
}
.header-img::before {
  content: "";
  left: 0;
  position: absolute;
  background: linear-gradient(90deg, #6f73ee 27%, rgba(111, 115, 238, 0) 70%);
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.header-content-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 3.5rem 0;
}
.contacts-header {
  display: flex;
  align-items: center;
}
.contacts-header-wrapper {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}
.header-adress-block {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 8px;
}
.header-adress-link {
  color: var(--white, #fff);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
}
.schedule {
  color: var(--white, #fff);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}
.header-content {
  position: relative;
  width: 55%;
  height: 100%;
}
.header-content-title {
  color: var(--white, #fff);
  font-size: 2.1875rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 0.4375rem;
}
.header-content-text {
  color: var(--white, #fff);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 0;
  margin-bottom: 1.875rem;
}
.header-features {
  display: flex;
  align-items: center;
  gap: 35px;
  margin-bottom: 2.5rem;
}
.header-features-item {
  display: flex;
  align-items: center;
  gap: 15px;
}
.shell-features-icon {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  position: relative;
}
.shell-features-icon::before {
  content: "";
  opacity: 0.2;
  background: var(--white, #fff);
  position: absolute;
  border-radius: 5px;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.header-features-text {
  color: var(--white, #fff);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.125rem;
  width: 9.3125rem;
  margin: 0;
}
.button-header-content {
  width: 9.9375rem;
  height: 3.3125rem;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.catalog-button-link {
  text-decoration: none;
  color: white;
}
.support {
  margin-bottom: 10.1875rem;
}
.support-wrapper {
  display: flex;
  align-items: center;
}
.support-info {
  width: 40.3125rem;
}
.support-info-title {
  color: var(--black, #282739);
  font-size: 2.1875rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 1.875rem;
  margin-top: 0;
}
.support-list-item {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}
.support-info-list {
  display: flex;
  list-style: none;
  padding: 0;
  flex-direction: column;
  gap: 0.625rem;
  margin: 0;
}
.support-list-text {
  color: var(--black, #282739);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}
.support-info-text {
  color: var(--black, #282739);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 119%;
  margin: 0;
  margin-bottom: 18px;
}
.support-img {
  border-radius: 0.625rem;
  min-width: 32.1875rem;
}
.support-img-block {
  margin-right: 1.25rem;
  right: 0;
  position: absolute;
}
.education {
  margin-bottom: 8.625rem;
}
.education-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.education-info {
  width: 40.3125rem;
}
.education-info-title {
  color: var(--black, #282739);
  font-size: 2.1875rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 1.875rem;
  margin-top: 0;
}
.education-list-item {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}
.education-info-list {
  display: flex;
  list-style: none;
  padding: 0;
  flex-direction: column;
  gap: 0.625rem;
  margin: 0;
}
.education-list-text {
  color: var(--black, #282739);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}
.education-info-text {
  color: var(--black, #282739);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 119%;
  margin: 0;
  margin-bottom: 1.125rem;
}
.education-img {
  border-radius: 0.625rem;
  min-width: 28.9375rem;
}
.education-img-block {
  margin-left: 1.25rem;
  left: 0;
  position: absolute;
}
.cards-title-block {
  display: flex;
  justify-content: center;
  text-align: center;
}
.cards-title {
  margin: 0;
  margin-bottom: 3.125rem;
  width: 45.75rem;
  color: var(--black, #282739);
  text-align: center;
  font-size: 2.1875rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}
.cards-item {
  border-radius: 10px;
  border: 1.5px solid #eaebed;
  max-width: 15.9375rem;
}
.card-img-wrapper {
  background: #f0f1f5;
  max-width: 15.9375rem;
  height: 15.6875rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 0.625rem 0.625rem 0 0;
  position: relative;
  margin-bottom: 1.25rem;
}
.card-img {
  width: 15.125rem;
  height: 11.375rem;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  z-index: 0;
  margin-top: 27px;
}
.card-img::before {
  width: 82px;
  height: 158px;
  flex-shrink: 0;
  fill: #f0f1f5;
  filter: blur(20px);
}
.card-features {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.625rem;
  position: relative;
  z-index: 1;
}
.card-feature-text-block {
  padding: 0.625rem;
  width: 2.5625rem;
  height: 1.5625rem;
  padding: 0.25rem 0.5625rem;
  border-radius: 0.3125rem;
  background: #ee685f;
}
.card-feature-text {
  margin: 0;
  color: var(--white, #fff);
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.card-feature-icon {
  margin: 0;
}
.card-title {
  color: var(--black, #282739);
  font-family: Jost;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  margin-bottom: 1.25rem;
}
.card-info {
  max-width: 15.9375rem;
  padding: 0 1.0625rem;
}
.card-options-list {
  padding: 0;
  list-style: none;
  columns: 2;
  gap: 1.5rem;
  margin: 0;
  margin-bottom: 1.5625rem;
}
.card-options-item {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  margin-bottom: 1.125rem;
}
.option-text {
  color: var(--gray-600, #5d6c7b);
  font-family: Roboto;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}
.price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.25rem;
}
.price-icons {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}
.price-icon-item {
  width: 2.5rem;
  height: 2.5rem;
  border: 2px solid var(--gray-200, #eaebed);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.old-price {
  margin: 0;
  color: var(--gray-600, #5d6c7b);
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration-line: strikethrough;
  text-decoration: line-through;
}
.new-price {
  margin: 0;
  color: var(--black, #282739);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.card-button {
  width: 100%;
  height: 37px;
  padding: 10px 20px;
  color: var(--white, #fff);
  text-align: center;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 20px;
}
@media (max-width: 1200px) {
  html {
    font-size: 14px;
  }
  .search-box {
    width: 50%;
  }
  .header-content {
    width: 70%;
  }
  .support-img {
    max-width: 25rem;
  }
  .education-img {
    max-width: 25rem;
  }
}

@media (max-width: 1100px) {
  html {
    font-size: 12px;
  }
  .support-img {
    max-width: 20rem;
  }
  .education-img {
    max-width: 20rem;
  }
  .header-img {
    height: 29.813rem;
  }
}

@media (max-width: 1028px) {
  html {
    font-size: 12px;
  }
  .header-content {
    width: 80%;
  }
}

@media (max-width: 928px) {
  html {
    font-size: 11px;
  }
  .support-img {
    max-width: 16rem;
  }
  .education-img {
    max-width: 16rem;
  }
}

@media (max-width: 876px) {
  html {
    font-size: 10px;
  }
  .support-img {
    max-width: 14rem;
  }
  .education-img {
    max-width: 14rem;
  }
  .header-img {
    height: 30.813rem;
    background-position: center right;
  }
  .catalog-button-link {
    display: none;
  }
  .catalog-button {
    width: 2.5rem;
    justify-content: center;
    padding: 0.9375rem;
  }
  .line-block {
    margin: 0;
  }
  .shopping-cart-title {
    display: none;
  }
}
@media (max-width: 756px) {
  html {
    font-size: 9px;
  }
  .support-img {
    max-width: 14rem;
  }
  .education-img {
    max-width: 14rem;
  }
  .header-img {
    background: #6f73ee;
  }
  .header-content {
    width: 100%;
  }
}
@media (max-width: 689px) {
  html {
    font-size: 8px;
  }
  .support-img {
    max-width: 14rem;
  }
  .education-img {
    max-width: 14rem;
  }
}
@media (max-width: 612px) {
  html {
    font-size: 7px;
  }
  .support-img {
    max-width: 12rem;
  }
  .education-img {
    max-width: 12rem;
  }
}
@media (max-width: 557px) {
  .navbar-bottom {
    margin-top: 0.9375rem;
  }
}
@media (max-width: 535px) {
  .container {
    max-width: 80%;
  }
  .header-img {
    height: 27.813rem;
  }
  .header-content-title {
    font-size: 1.6875rem;
  }
  .header-content-text {
    font-size: 1rem;
  }
  .support-img {
    display: none;
  }
  .education-img {
    display: none;
  }
  .education-wrapper {
    justify-content: flex-start;
  }
  .support {
    margin-bottom: 4.188rem;
  }
  .support-info {
    width: 100%;
  }
  .education-info {
    width: 100%;
  }
}
@media (max-width: 413px) {
  .header-img {
    height: 30.813rem;
  }
}
@media (max-width: 382px) {
  .contacts-header-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
  }
  .header-adress-block {
    display: flex;
    justify-content: flex-start;
  }
  .schedule-block {
    display: flex;
    width: 100%;
  }
}
