* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Jost", sans-serif;
}
.button {
  background: #6f73ee;
  border-radius: 5px;
  border: 2px solid #6f73ee;
}
.button-light {
  border-radius: 5px;
  border: 1.3px solid var(--white, #fff);
  background: #fff;
  color: var(--purple, #6f73ee);
}
.navbar {
  height: 39px;
  padding: 11px 0;
  margin-bottom: 30px;
}
.navbar-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container {
  max-width: 1150px;
  margin: auto;
}
.navbar-menu-list {
  display: flex;
  gap: 30px;
  padding: 0;
  margin: 0;
}
.navbar-menu-item {
  list-style: none;
}
.nav-menu-item-link {
  text-decoration: none;
  color: var(--gray-600, #5d6c7b);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.nav-menu-social-vb {
  text-decoration: none;
}
.nav-menu-social-ws {
  text-decoration: none;
}
.navbar-networks-link {
  display: flex;
  gap: 8.5px;
}
.header-phone-link {
  text-decoration: none;
  color: var(--black, #282739);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.seporator {
  background: #f4f7fb;
  border: none;
  height: 1px;
}
.navbar-bottom-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 40px;
}
.logo-block {
  width: 116px;
  margin-right: 35px;
}
.logo {
  margin-bottom: 0;
  margin-top: 0;
}
.search-txt {
  height: 40px;
  padding: 10px 0 10px 20px;
  border-radius: 5px 0 0 5px;
  border: 2px solid #6f73ee;
  color: var(--gray-600, #5d6c7b);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  outline: none;
  display: flex;
  flex-grow: 1;
}
.search-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0px 5px 5px 0px;
  border: 2px solid #6f73ee;
  background: #6f73ee;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}
.search-box {
  display: flex;
  align-items: center;
  margin-right: 47px;
  flex-grow: 1;
}
.catalog-button {
  width: 114px;
  height: 40px;
  color: var(--white, #fff);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  align-items: center;
  padding: 15px 18px 15px 15px;
  margin-right: 20px;
}
.line-block {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-right: 13px;
}
.line-catalog-button {
  height: 1.3px;
  background: var(--white, #fff);
}
.line-catalog-button-first,
.line-catalog-button-second {
  width: 13px;
}
.line-catalog-button-third {
  width: 7px;
}
.favorites {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 25px;
}
.favorites-icon-block {
  display: flex;
  align-items: center;
  gap: 25px;
}
.shopping-cart-block {
  display: flex;
  align-items: center;
  gap: 10px;
}
.shopping-cart-title {
  color: var(--black, #282739);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.button-catalog-block {
  display: flex;
}
.header-img {
  background-image: url("/img/header-img.png");
  margin: auto;
  background-size: 90% 445px;
  background-position: center right;
  height: 27.8125rem;
  background-repeat: no-repeat;
  position: relative;
  object-fit: cover;
  border-radius: 10px;
  width: 97%;
  margin-bottom: 100px;
}
.header-img::before {
  content: "";
  left: 0;
  position: absolute;
  background: linear-gradient(90deg, #6f73ee 27%, rgba(111, 115, 238, 0) 70%);
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.header-content-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 56px;
}
.contacts-header {
  display: flex;
  align-items: center;
}
.contacts-header-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header-adress-block {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 8px;
}
.header-adress-link {
  color: var(--white, #fff);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
}
.schedule {
  color: var(--white, #fff);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}
.header-content {
  position: relative;
  width: 55%;
  height: 100%;
}
.header-content-title {
  color: var(--white, #fff);
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 0.4375rem;
}
.header-content-text {
  color: var(--white, #fff);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 0;
  margin-bottom: 1.875rem;
}
.header-features {
  display: flex;
  align-items: center;
  gap: 35px;
  margin-bottom: 2.5rem;
}
.header-features-item {
  display: flex;
  align-items: center;
  gap: 15px;
}
.shell-features-icon {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  position: relative;
}
.shell-features-icon::before {
  content: "";
  opacity: 0.2;
  background: var(--white, #fff);
  position: absolute;
  border-radius: 5px;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.header-features-text {
  color: var(--white, #fff);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.125rem;
  width: 9.3125rem;
  margin: 0;
}
.button-header-content {
  width: 9.9375rem;
  height: 3.3125rem;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.catalog-button-link {
  text-decoration: none;
  color: white;
}
.support {
  margin-bottom: 10.1875rem;
}
.support-wrapper {
  display: flex;
  align-items: center;
}
.support-info {
  width: 645px;
}
.support-info-title {
  color: var(--black, #282739);
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 30px;
  margin-top: 0;
}
.support-list-item {
  display: flex;
  align-items: center;
  gap: 10px;
}
.support-info-list {
  display: flex;
  list-style: none;
  padding: 0;
  flex-direction: column;
  gap: 0.625rem;
  margin: 0;
}
.support-list-text {
  color: var(--black, #282739);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}
.support-info-text {
  color: var(--black, #282739);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 119%;
  margin: 0;
  margin-bottom: 18px;
}
.support-img {
  border-radius: 0.625rem;
  min-width: 32.1875rem;
}
.support-img-block {
  margin-right: 20px;
  right: 0;
  position: absolute;
}

.education-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.education-info {
  width: 645px;
}
.education-info-title {
  color: var(--black, #282739);
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 30px;
  margin-top: 0;
}
.education-list-item {
  display: flex;
  align-items: center;
  gap: 10px;
}
.education-info-list {
  display: flex;
  list-style: none;
  padding: 0;
  flex-direction: column;
  gap: 0.625rem;
  margin: 0;
}
.education-list-text {
  color: var(--black, #282739);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}
.education-info-text {
  color: var(--black, #282739);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 119%;
  margin: 0;
  margin-bottom: 18px;
}
.education-img {
  border-radius: 0.625rem;
  min-width: 28.9375rem;
}
.education-img-block {
  margin-left: 20px;
  left: 0;
  position: absolute;
}

@media (max-width: 1200px) {
  .container {
    max-width: 90%;
  }
  .search-box {
    width: 50%;
  }
  .header-content {
    width: 70%;
  }
}

@media (max-width: 1028px) {
  .header-content {
    width: 80%;
  }
}

@media (max-width: 876px) {
  .header-img {
    background-size: 132% 493px;
    height: 30.813rem;
  }
  .catalog-button-link {
    display: none;
  }
  .catalog-button {
    width: 2.5rem;
    justify-content: center;
    padding: 0.9375rem;
  }
  .line-block {
    margin: 0;
  }
  .shopping-cart-title {
    display: none;
  }
}
@media (max-width: 756px) {
  .header-img {
    background: #6f73ee;
  }
  .header-content {
    width: 100%;
  }
}
@media (max-width: 689px) {
  .favorites {
    display: none;
  }
  .search-box {
    width: 100%;
    margin-right: 0;
  }
}
@media (max-width: 557px) {
  .navbar {
    display: none;
  }
  .navbar-bottom {
    margin-top: 15px;
  }
}
@media (max-width: 535px) {
  .header-img {
    height: 33.813rem;
  }
  .header-features {
    flex-direction: column;
  }
  .header-features-item {
    width: 100%;
  }
  .header-content-title {
    font-size: 1.6875rem;
  }
  .header-content-text {
    font-size: 16px;
  }
  .button-header-content {
    width: 100%;
  }
}
@media (max-width: 487px) {
  .logo-block {
    display: none;
  }
}
@media (max-width: 413px) {
  .header-img {
    height: 35.813rem;
  }
}
@media (max-width: 382px) {
  .contacts-header-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
  }
  .header-adress-block {
    display: flex;
    justify-content: flex-start;
  }
  .schedule-block {
    display: flex;
    width: 100%;
  }
}
